<ul class="social-media-list">
  <li>
    <a href="https://github.com/{{ site.github_username }}">
      <span class="icon">
        <img src="/assets/logos/github-mark.svg" alt="github logo"/>
      </span>
      <span class="username">Github</span>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/-{{ site.linkedin_username}}">
      <span class="icon">
        <img src="/assets/logos/linkedin-logo.svg" alt="linkedin logo"/>
      </span>
      <span class="username">LinkedIn</span>
    </a>
  </li>
  <li>
    <a href="https://bluesky.com/profile/{{ site.bluesky_username }}">
      <span class="icon">
        <img src="/assets/logos/bluesky-logo.svg" alt="bluesky logo"/>
      </span>
      <span class="username">Bluesky</span>
    </a>
  </li>
  <li>
    <a id="link-interaction" rel="nofollow, noindex" href="to-andreas/">
      <span class="icon">
        <img src="/assets/logos/email-logo.svg" alt="email logo"/>
      </span>
      </span>
      <span class="username">Contact</span>
    </a>
  </li>
  <li>
    <a href="https://x.com/{{ site.twitter_username }}">
      <span class="icon">
        <img src="/assets/logos/x-logo.svg" alt="x logo"/>
      </span>
      <span class="username">Twitter</span>
    </a>
  </li>

</ul>
